<header>
  <div class="name" href="/">Form</div>
  <nav>
    <ul class="navlinks">
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</header>

<div class="container">
  <div class="form-container">
    <div class="form-title">Data Entered</div>
    <div class="form-data">
        <div class="output-item">
           <b>Subject Code: </b> {{data.subject_code}} 
        </div>
        <div class="output-item">
           <b>Subject Name: </b> {{data.subject_name}} 
        </div>
        <div class="output-item">
           <b>Institute Name: </b> {{data.inst_name}} 
        </div>
        <div class="output-item">
           <b>Department Name: </b> {{data.dept_name}} 
        </div>
        <div class="output-item">
           <b>Semester: </b> {{data.sem}} 
        </div>
    </div>
  </div>
</div>
<footer>
  <div class="footer-container">
    <div class="footer-content">made by <b>19CE044</b></div>
  </div>
</footer>